Combined_LCA_Disclosure_Data_FY2020.csv
Combined_LCA_Data.parquet
Combined_LCA_Disclosure_Data_FY2020.csv
Combined_LCA_Disclosure_Data_FY2020.parquet
Combined_LCA_Disclosure_Data_FY2021.parquet
*.parquet
Combined_LCA_Disclosure_Data_FY2024.csv
*.csv
Combined_LCA_Disclosure_Data_FY2020.csv
Combined_LCA_Disclosure_Data_FY2021.csv
Combined_LCA_Disclosure_Data_FY2023.csv
*.csv
